<?xml version="1.0" encoding="utf-8"?>
<models>
	<model file="cube.mdl"/>
	<model file="floor.mdl"/>
	<model file="raptor.mdl"/>
  <model file="rail.mdl"/>
  <model file="BrokenRail.mdl"/>
  <model file="minecart.mdl"/>
  <model file="wall.mdl"/>
  <model file="gem_red.mdl"/>
  <model file="Wheel.mdl"/>
  <model file="SpeedBoost.mdl"/>
  <model file="notFloor.mdl" />
</models>